@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
  }
  body {
    overscroll-behavior: none;
    overflow-x: hidden;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

.font-mono-data, .font-mono-metric {
  font-family: 'JetBrains Mono', monospace;
}
